<h1>New Application:</h1>

<ul>
    <li>App number: {{ proposalSubmission.data.applicationNumber }}</li>
    <li>Company name: {{ proposalSubmission.data.companyName }}</li>
    <li>Price: {{ proposalSubmission.data.price }}</li>
</ul>

<h2><a href="{{ proposalUrl }}">View proposal</a></h2>